* {
    margin: 0;
}

body {
    background-color: rgba(36, 36, 51, 0.959);
}

.container {
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

#header1 {
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(245, 133, 6);
    color: #fff;
    margin-bottom: 20px;
}

#header1 h1 {
    text-align: center;
    padding: 15px 0px;
}

#header {
    width: 100%;
    background-color: rgb(6, 119, 40);
    border-radius: 10px;
    margin-top: 100px;
}

.headercontent {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.filterbox {
    width: 200px;
    position: relative;
}

.filterbutton {
    border-radius: 5px;
    background-color: #fff;
    padding: 0px 15px;
    height: 40px;
}

.filtercontent{
    padding: 13px;
    display: flex;
    justify-content: space-between;
}

.checkboxes {
    background-color: lightblue;
    display: grid;
    width: 200px;
    grid-template-columns: 1fr;
    grid-auto-rows: 25px;
    position: absolute;
    display: none;
}

.checkboxes label{
    align-items: center;
    margin: 5px;
}

.checkboxes label input {
    margin-right: 10px;
}

.sortbox {
    width: 200px;
}

.sortbox select{
    height: 40px;
    border-radius: 5px;
}

.option {
    height: 40px;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 90%;
    }
}

@media only screen and (max-width: 568px) {
    .container {
        width: 100%;
    }
}